Package: python3-monitorclean
Source: monitorclean
Version: 0.1.0-1
Architecture: all
Maintainer: None <None>
Installed-Size: 111
Depends: python3:any
Section: python
Priority: optional
Homepage: None
Description: MonitorClean GUI
 # MonitorClean
 Basit açıklama: MonitorClean QT uygulaması.
